:root {
  --main-color: #ff6700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem 0;
  background-color: var(--main-color);
  gap: 1rem;
}

.app-container > img {
  height: 4.5rem;
}

@media screen and (max-width: 425px) {
  .app-container > img {
    width: 21rem;
    height: 3rem;
  }

}
