.learning-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 80vw;
  background-color: white;
  position: relative;
  border-radius: 1%;
  padding: 1rem 0;
  box-shadow: 0 0.5rem 0.8rem rgb(0 0 0 / 16%);
}

.learning-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  width: 100%;
}

.learning-container img {
  width: 45vw;
  object-fit: cover;
  border-radius: 1%;
  height: 40vh;
  object-position: center;
}

.learning-container .form input {
  width: 45vw;
  height: 3rem;
  box-shadow: -0.3rem 0.3rem 0.6rem rgba(255, 103, 0, 0.3),
    0.3rem -0.3rem 0.6rem rgba(231, 190, 163, 0.3);
  border-radius: 4%;
  border: none;
  padding: 1rem;
}

.learning-container .form button {
  width: 20rem;
  height: 3rem;
  background-color: var(--main-color);
  color: white;
  border-radius: 0.4rem;
  border: none;
}

.results {
  display: flex;
  justify-content: space-evenly;
  color: var(--main-color);
}

.result-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 425px) {
  .learning-container {
    flex-direction: column-reverse;
    border-radius: 5%;
  }

  .learning-container img {
    width: 70vw;
  }

  .learning-container .form input {
    width: 10rem;
    height: 2.5rem;
  }
  .learning-container .form button {
    width: 10rem;
    height: 2rem;
  }
  .results {
    gap: 8rem;
  }
}
